/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/

@font-face {
  font-family: 'HeliosExtC Regular';
  src: url(/assets/fonts/heliosext.otf);
}
@font-face {
  font-family: 'HeliosExtC Bold';
  src: url(/assets/fonts/heliosext_bold.otf);
}
:root {
  /*========== Colors ==========*/
  --black-color: #1E1E1E;
  --white-color: #D9D9D9;

  /*========== Font and typography ==========*/
  --font-regular: 'HeliosExtC Regular', sans-serif;
  --font-bold: 'HeliosExtC Bold', sans-serif;
  --biggest-font-size: 175px;
  --h1-font-size: 42px;
  --normal-font-size: 26px;
  --small-font-size: 16px;
  --smaller-font-size: 11px;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    /* --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem; */
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
a {
   color: var(--black-color);
}
body {
  font-family: var(--font-regular);
  font-size: var(--small-font-size);
  color: var(--black-color);
  background: url(/assets/img/mainbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  margin: 0;
  /* font-size: 0; */
  list-style: none;
}

li {
  list-style-type: none;
  padding: 0;
  /* font-size: 0; */
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1280px;
  margin: auto;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /* For the animations ScrollReveal*/
}

/*=============== HEADER & NAV ===============*/

.header {
  display: flex;
  padding: 15px 59px 0 29px;
}
.header__nav {
  display: flex;
  width: 100%;
}
.header__blog {
  text-align: center;
  flex: 1 0 0;
}
.header__ul {
  padding : 0 0 0 237px;
}
.header__social {
  margin: 0 225px 0 0;
}

.header__link {
  font-size: var(--smaller-font-size);
  line-height: 13px;
  display: block;
}
.header__link {
  margin-bottom: 3px;
}
.header__menu a{
  font-size: var(--smaller-font-size);
}
.header__menu {
  position: relative;
  width: 40px;
  height: 16px;
}
.header__menu::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--black-color);
}
.header__menu::before {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--black-color);
}

/* =======  HOME =========== */
.home {
  position: relative;
  margin: 166px auto 0;
}
.home__text {
  height: 408px;
}
.home__text-name {
  font-size: var(--biggest-font-size);
  color: var(--black-color);
  font-family: var(--font-bold);
  position: relative;
  line-height: 216px;
}
.home__text-name::after {
  content: '';
  display: block;
  position: absolute;
  width: 704px;
  height: 9px;
  top: 53%;
left: 257px;
  background-color: #E0FF00;
  z-index: -1;
}
.home__text-title {
  font-size: var(--h1-font-size);
  font-family: var(--font-bold);
  position: absolute;
  right: 0;
  line-height: 27px;
}
.home__text-title span {
  font-size: 27px;
  font-family: var(--font-regular);
}
.home__subtext-left {
  position: relative;
  width: 960px;
  max-width: 100%;
  height: 250px;
}
.home__subtext-right {
  width: 320px;
  display: block;
  margin: 0 0 0 10px;
}
.home__subtext-up img {
  position: absolute;
  top: 42px;
  left: 250px;
  max-width: 696px;
  width: 100%;
}
.home__subtext-up p {
  width: 518px;
}
.home__subtext {
  display: flex;
}
.home__subtext-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  right: -34px;
  top: 164px;
}
.home__subtext-down p {
  font-size: 13px;
  transform: rotate(-90deg);
}

.btn {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 9px 42px;
}
.home__btn {
  padding: 15px 73px;
  width: 320px;
  display: block;
  text-align: center;
  font-family: var(--font-bold);
  margin: 24px 0 0;
}


/* ============  ABOUT ============= */
.about {
  width: 1636px;
  max-width: 100%;
  margin: auto;
}

.aboout__col-up {
  display: flex;
  height: 754px;
}
.col__down {
  display: flex;
  margin: 82px 0 0 177px;
}
#showScroll {
  position: fixed;
}
.col__down-item {
  width: 300px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col__down-btn {
  display: flex;
  align-self: flex-end;
}
.down__btn-blog {
  /* max-width: 188px; */
  /* display: block; */
  padding: 9px 64px;
}
.about__col-one {
  display: flex;
  flex-direction: column;
  text-align: end;
  height: 206px;
  width: 121px;
  position: relative;
  align-self: last baseline;
  margin: 0 57px 116px 0;
}
.about__col-one.fixed {
  position: fixed;
  top: 130px;
}
.about__col-one::after {
  content: '';
  background: var(--black-color);
  height: 286px;
  width: 2px;
  position: absolute;
  right: -16px;
  top: -44px;
}
.about__col-one .header__blog {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
}
.about__col-two, .box {
  width: 320px;
  max-width: 100%;
  height: 261px;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 0px 23px;
}
.about__col-two, .box p {
  color: var(--white-color);
  font-family: var(--font-bold);
}
.col__two-num, .box-num {
  font-size: 33px;
}

.about__col-three {
  width: 304px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 114px 16px 0 0;
}
.col__three-title {
  font-family: var(--font-bold);
  color: var(--black-color);
  font-size: var(--h1-font-size);
  margin: 0 0 36px 0;
}

.col__three-text p:not(:last-child) {
  margin-bottom: 36px;
}
.col__three-text p {
  font-size: 16px;
  color: var(--black-color);
  line-height: 19px;
}
.about__col-four {
  width: 317px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.about__col-four p:not(:last-child) {
  margin-bottom: 41px;
}
.about__col-four p {
  font-size: 16px;
}
.about__col-five {
  width: 320px;
  max-width: 100%;
  text-align: end;
  margin: 139px 0 0;
}



/* =====  CREATIVE =============== */

.creative__wrapper {
  height: 913px;
  display: flex;
  flex-direction: column;
}
.creative__up {
  display: flex;
  align-items: center;
}
.creative__left-title {
  font-size: 42px;
  font-family: var(--font-bold);
  margin: 89px 292px 0 0;
}
.creative__item-title, .item-title {
  font-size: 26px;
  color: var(--black-color);
  font-family: var(--font-bold);
}
.creative__box-wrapper {
  width: 321px;
  display: flex;
  flex-direction: column;
}
.crative__right-box {
  margin: 0 0 15px 0;
}
.creative__right-text p:not(:last-child) {
  margin-bottom: 12px;
}
.creative__items {
  display: flex;
  margin: 100px 0 20px 0;
}
.creative__item  {
  width: 285px;
}
.creative__item:nth-child(2) {
  margin: 0 99px 0 35px;
  width: 221px;
}
.creative__item:nth-child(3) {
  margin: 0 38px 0 0; 
}
.creative__item-title {
  margin: 0 0 15px;
}

.creative__down {
  display: flex;
  justify-content: center;
  margin: -4px 0 0 284px;
}


/* ============  SERVICE ============== */

.service__up {
  display: flex;
  height: 330px;
}
.service__title {
  font-family: var(--font-bold);
  margin: 0 109px 0 0;
  align-self: flex-end;
  font-size: 42px;
}
.service__up-text {
  width: 287px;
  max-width: 100%;
  margin: 0 0 68px 33px;
  align-self: flex-end;
  font-size: 16px;  
}
.service__item-btn {
  display: block;
  width: 188px;
  display: flex;
  text-align: center;
  align-self: flex-end;
}
.service__item {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.service__items {
  width: 100%;
  margin: 91px 0 0;
}
.service__item-num {
  display: flex;
  align-self: flex-end;
  margin: 18px 44px 18px 0;
  font-family: var(--font-bold);
  position: relative;
  max-width: 107px;
}
.service__item-num::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 4px;
  background: #E0FF00;
  z-index: -1;
}
.service__item-num span {
  font-weight: 600;
}

/* .target{
  grid-area: target;
}
.cotext{
  grid-area: context;
}
.yandex{
  grid-area: yandex;
}
.tilda{
  grid-area: tilda;
}
.landingpage{
  grid-area: landingpage;
}
.promo{
  grid-area: promo;
} */

.service__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  /* grid-template-areas: 'target context yandex .' '. tilda landingpage promo'; */
  row-gap: 115px;
}


/* ==========  PROJECT ============ */
.project__title {
  display: flex;
  justify-content: space-between;
}
.project__title-title {
  font-size: var(--h1-font-size);
  line-height: 52px;
  color: var(--black-color);
  font-family: var(--font-bold) ;
  display: flex;
  align-self: flex-end;
}

.project_items {
  display: flex;
  height: 548px;
  margin: 50px 0 70px;
}
.project__item {
  background-image: url('/assets/img/p1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px 0 10px 14px;
}
.project__item:nth-child(2) {
  background-image: url('/assets/img/p2.png');
}
.project__item:nth-child(3) {
  width: 640px;
  max-width: 100%;
  background-image: url('/assets/img/p3.png');
}
.project__item-title {
  font-size: 30px;
  font-family: var(--font-bold);
  color: #D9D9D9;
}
.project__item-subtitle {
  font-family: var(--font-regular);
  font-size: 19px;
  color: #D9D9D9;
}

.project__more {
  display: flex;
  justify-content: end;
}
.project__more img {
  width: 151px;
}
.project__more-text {
  font-size: 37px;
  margin: 0 37px 0 0;

}


/* ========  CONTACT ============== */

.contact__wrapper {
  display: flex;
  height: 860px;
  position: relative;
}
.contact__img {
  display: flex;
  width: 640px;
  max-width: 100%;
}
.cotact__img-image {
  display: flex;
  align-self: flex-end;
}
.contact__form {
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__form-text {
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin: 225px 0 0;
}
.contact__form-title {
  font-size: var(--h1-font-size);
  font-family: var(--font-bold);
  color: var(--black-color);
}
.contact__form-subtitle {
  font-size: 16px;
  display: flex;
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.input {
  width: 640px;
  max-width: 100%;
  padding: 16px 0 16px 21px;
  background: transparent;
  border: 2px solid var(--black-color);
  font-size: 16px;
}
.input::placeholder {
  font-size: 16px;
  color: var(--black-color);
  opacity: 1;
}
.form-btn {
  font-family: var(--font-bold);
  font-size: 16px;
  cursor: pointer;
}
.form__allow {
  font-size: 9px;
  text-align: center;
}
.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 95px 0 0;
}
.address__img {
  width: 57px;
  height: 57px;
}
.address a {
  font-style: normal;
  font-size: 27px;
}
.address__social {
  display: flex;
  align-items: center;
  gap: 15px;
}



/* ===============  FOOTER ================ */

.footer {
  margin: 93px 0 0;
  background: var(--black-color);
  padding: 56px 0 25px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__nav ul li a {
  color: var(--white-color);
}
.footer__nav .header__ul {
  padding: 0 0 0 0;
}
.footer__nav .header__social {
  margin: 0;
}
.footer__blog {
  color: var(--white-color);
}

.footer__about {
  margin: 18px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.footer__about img {
  width: 52px;
  height: 40px;
  cursor: pointer;
}
.footer__about p {
  color: var(--white-color);
}


.team {
  max-width: 1480px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.team__up {
  display: flex;
  align-self: flex-end;
}
.team__up-text {
  font-family: var(--font-bold);
  font-size: 42px;
  display: flex;
  align-self: flex-end;
  margin: 0 0 -15px;
}
.team__cols {
  display: flex;
}

.team__col {
  text-align: end;
}
.team__col-one {
  margin: 102px 0 0;
}
.team__col-three {
  margin: 281px 0 0;
}

.team__col-four {
  margin: 144px 0 0;
}


.join {
  background: url('/assets/img/teambg.png');
  color: var(--white-color);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* filter: blur(8.5px); */
  z-index: -1;
  margin: 48px 0 0;
}
.join__wrapper {
  /* z-index: 1; */
}
.join__title {
  display: flex;
}
.join__title p:nth-child(2) {
  font-size: 42px;
  font-family: var(--font-bold);
  color: var(--white-color);
  display: flex;
  align-self: flex-end;
  margin: 0 0 -15px;
}
.join__box {
  background: var(--white-color);
}
.join__box p {
  color: var(--black-color);
}


.join__resume {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 24px;
}
.join__resume-mail {
  font-size: 19px;
}
.join__resume-mail a{

  font-family: var(--font-bold);
  color: var(--white-color);
}
.joun__resume-text {
  width: 304px;
}

.join__covid {
  display: flex;
  justify-content: flex-end;
}
.join__covid p {

  width: 609px;
}
.join__work-name {
  font-size: 26px;
  font-family: var(--font-bold);
  color: var(--white-color);
  margin: 0 0 20px;
}
.join__work-location {
  font-size: 19px;
  color: var(--white-color);
}
.join__work {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  width: 100%;
  margin: 84px 0 0;
  /* padding: 0 0 65px; */
  gap: 125px;
}

.join__work-first {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.join__work-wrapper {
  margin: 0 0 55px;
}



.team__footer {
  margin: 0 0 0;
}


.landing__wrapper {
  display: flex;
  gap: 32px;
  margin: 0 0 47px;
}
.landing {
  display: flex;
  flex-direction: column;
  margin: 0 auto 66px;
}
.landing__first {
  margin: 224px 0 0;
}
.landing__up-title {
  font-size: 42px;
  font-family: var(--font-bold);
  margin: 0 0 35px;
}
.landing__first-up {
  margin: 0 0 150px;
}
.landing__up-subtitle {
  font-size: 16px;
  line-height: 19px;
  width: 607px;
}

.first__down-title {
  font-size: 23px;
  font-family: var(--font-bold);
  margin: 0 0 17px;
}

.landing__list {
  position: relative;
  display: flex;
  gap: 10px;
  /* align-items: flex-start; */
}
.landing__list::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  margin: 6px 0 0;
  border-radius: 50px;
  background-color: var(--black-color);
}
.first__down-list {
  width: 304px;
}
.first__down-list p {
  margin: 0 0 3px;
}

.landing__second-up p:nth-child(2) {
  font-size: 33px;
  font-family: var(--font-bold);
}
.landing__second-up {
  margin: 0 0 189px;
} 

.landing__second-down {
  width: 329px;
}
.landing__second-down p {
  margin-bottom: 30px;
  font-size: 16px;
}

.landing__price {
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 1020px;
  max-width: 100%;
}
.landing__price-item {
  width: 323px;
}
.landing__price-item_title {
  font-size: 26px;
  font-family: var(--font-bold);
  margin: 0 0 9px;
  position: relative;
}
.landing__price-item_title::after {
  content: '';
  display: block;
  position: absolute;
  width: 246px;
  height: 4px;
  top: 75%;
/* left: 257px; */
  background-color: #E0FF00;
  z-index: -1;
}
.landing__price-item p:nth-child(3) {
  margin: 13px 0 0;
}

.landing__price-item_subtitle {
}
.landing__price-img {
  margin: 0 12px 0 0;
}

.app__form {
  width: 640px;
}
.app__form input {
  max-width: 100%;
} 
.form__checkbox {
  display: flex;
}
.app__up-subtitle {
  font-size: 26px;
  width: 641px;
  line-height: 31px;
}
.app__price-item_title::after {
  display: none;
}
.app__form-allow.app__form-allow{
  font-size: 9px;
}